<div class="row">
	<div class="col-lg-12">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Customers Panel</h3>
				</div>
				<div class="panel-body ">
					<div class="row">
						<div class="col-xs-8">
							<div class="input-group">
								<div class="input-group-btn search-panel">
									<button type="button" class="btn btn-default dropdown-toggle"
										data-toggle="dropdown">
										<span id="search_concept">Filter by</span> <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#contains">Contains</a></li>
										<li><a href="#its_equal">It's equal</a></li>
										<li><a href="#greather_than">Greather than ></a></li>
										<li><a href="#less_than">Less than < </a></li>
										<li class="divider"></li>
										<li><a href="#all">Anything</a></li>
									</ul>
								</div>
								<input type="hidden" name="search_param" value="all"
									id="search_param"> <input type="text"
									class="form-control" name="x" placeholder="Search term...">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<span class="glyphicon glyphicon-search"></span>
									</button>
								</span>
							</div>
						</div>
							<div class="col-xs-4"><a href = "" ng-click = "addCustomer()" >Add Customer</a></div>
					</div>
					<div class="row">
						<div class="panel-body fill ">
							<div class="my-scroll-area fill" ng-nicescroll
								nice-option="{cursorcolor: 'red'}">
								<table class="table table-sm table-hover">
									<thead>
									<tr>
									<th>NAME</th>
									<th>ID NUMBER</th>
									<th>MOBILE</th>
									<th>CITY</th>
									<th>REF NAME</th>
								</tr>
									</thead>
									<tbody>
										<tr ng-repeat="client in clientList">
											<td><a ng-click="getClientLoans(client.clientId)">{{client.firstName}}&nbsp;{{client.lastName}}</a></th>
											<td >{{client.idValue}}</td>
											<td >{{client.clientMobileNo}}</td>
											<td >{{client.city}}</td>
											<td >{{client.referralFName}} &nbsp; {{client.referralLName}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-lg-6">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Lons Panel</h3>
						</div>
						<div class="panel-body fills">
							<div class="row">
								<div class="panel-body fill ">
									<table class="table table-sm table-striped">
										<tr>
											<th>AMOUNT</th>
											<th>PERIOD</h>
											<th>PERIOD TYPE</th>
											<th>INTREST</th>
											<th>?</th>
										</tr>
									</table>
									<div class="my-scroll-area fill" ng-nicescroll
										nice-option="{cursorcolor: 'red'}">
										<table class="table table-sm table-striped">
											<tbody>
												<tr ng-repeat="clientLoan in clientLoanList | filter : clientFilter">
													<td ng-bind="clientLoan.loanAmount"></th>
													<td ng-bind="clientLoan.loanPeriod"></td>
													<td ng-bind="clientLoan.periodType"></td>
													<td ng-bind="clientLoan.rateOfIntrest"></td>
													<td ng-bind="clientLoan.id"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default ">
						<div class="panel-heading">
							<h3 class="panel-title">Ornament Panel</h3>
						</div>
						<div class="panel-body fills">
							<div class="row">
								<div class="panel-body fill ">
									<table class="table table-sm table-striped">
										<tr>
											<th>METAL</th>
											<th>NAME</th>
											<th>QUALITY</th>
											<th>QUANTITY</th>
											<th>TYPE</th>
											<th>VALUE</th>
										</tr>
									</table>
									<div class="my-scroll-area fill" ng-nicescroll
										nice-option="{cursorcolor: 'red'}">
										<table class="table table-sm table-striped">
											<tbody>
												<tr ng-repeat="ornament in loanOrnamentList | filter : clientFilter">
													<td ng-bind="ornament.ornamentMetal"></th>
													<td ng-bind="ornament.ornamentName"></td>
													<td ng-bind="ornament.ornamentQuality"></td>
													<td ng-bind="ornament.ornamentQuantity"></td>
													<td ng-bind="ornament.ornamentType"></td>
													<td ng-bind="ornament.ornamentValue"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>



<style>
.fill {
	min-height: 80%;
	height: 80%;
}

.fills {
	min-height: 40%;
	height: 40%;
}

body {
	background-color: #525252;
}
</style>