<!-- for Registration form -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Client Info</h3>
			</div>
			<div class="panel-body my-scroll-area fill" style ="height : 595px;" ng-nicescroll
				nice-option="{cursorcolor: 'blue'}">
				<form role="form" id="clientRegisterForm" name="clientRegisterForm">
					<div class="row">
						<div class="col-xs-5 col-sm-5 col-md-5">
							<div class="form-group">
								<input type="text" name="firstName" id="first_name"
									ng-model="clientRegister.firstName"
									class="form-control input-sm" placeholder="Fist Name" required>
							</div>
						</div>
						<div class="col-xs-5 col-sm-5 col-md-5">
							<div class="form-group">
								<input type="text" name="lastName" id="last_name"
									ng-model="clientRegister.lastName"
									class="form-control input-sm" placeholder="Last Name" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-10 col-sm-10 col-md-10">
							<div class="form-group">
								<input type="text" name="fatherName" id="add_line2"
									ng-model="clientRegister.fatherName"
									class="form-control input-sm" placeholder="Father Name"
									required>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-xs-10 col-sm-10 col-md-10">
							<div class="form-group">
								<input type="number" name="mobile" id="mobile"
									ng-model="clientRegister.clientMobileNo" class="form-control input-sm"
									placeholder="Mobile" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4">
							<div class="form-group">
									<select ng-model="clientRegister.idType"
										ng-options="unit.id as unit.name for unit in idTypeList"
										style="width: 145px; height: 30px"  required></select>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="idValue" id="idValue"
									ng-model="clientRegister.idValue" class="form-control input-sm"
									placeholder="ID Number" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-10 col-sm-10 col-md-10">
							<div class="form-group">
								<input type="text" name="addLine1" id="add_line1"
									ng-model="clientRegister.address"
									class="form-control input-sm" placeholder="Address Line 1"
									required>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-xs-10 col-sm-10 col-md-10">
							<div class="form-group">
								<input type="text" name="city" id="city"
									ng-model="clientRegister.city" class="form-control input-sm"
									placeholder="City or Town" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-5 col-sm-5 col-md-5">
							<div class="form-group">
								<input type="text" name="country" id="country"
									ng-model="clientRegister.country" class="form-control input-sm"
									placeholder="Country" required>
								<!-- <select ng-model="clientRegister.country" ng-options="value.id as value.country for (key,value) in countries "></select> -->
							</div>
						</div>
						<div class="col-xs-5 col-sm-5 col-md-5">
							<div class="form-group">
								<input type="text" name="state" id="state"
									ng-model="clientRegister.state" class="form-control input-sm"
									placeholder="State" required>
								<!-- <select ng-model="clientRegister.state" ng-options="value.id as value.country for (key,value) in clientRegister.country "></select> -->
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-5 col-sm-5 col-md-5">
							<input type="text" name="zipCode" id="zipCode"
								ng-model="clientRegister.zipCode" class="form-control input-sm"
								placeholder="Pin / Zip Code" required>
						</div>
						<div class="col-xs-5 col-sm-5 col-md-5">

							<input type="radio" name="gender" value="male" ng-model = "clientRegister.gender" /> Male &nbsp; <input
								type="radio" name="gender" value="female" ng-model = "clientRegister.gender" /> Female

						</div>

					</div>

					<div class="row">
						<br />
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="panel-heading">
								<h3 class="panel-title">Referral Info</h3>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-5 col-sm-5 col-md-5">
							<div class="form-group">
								<input type="text" name="referralFName" id="referralFName"
									ng-model="clientRegister.referralFName"
									class="form-control input-sm" placeholder="Fist Name" required>
							</div>
						</div>
						<div class="col-xs-5 col-sm-5 col-md-5">
							<div class="form-group">
								<input type="text" name="referralLName" id="referralLName"
									ng-model="clientRegister.referralLName"
									class="form-control input-sm" placeholder="Last Name" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-10 col-sm-10 col-md-10">
							<div class="form-group">
								<input type="number" name="referralMobileNo" id="referralMobileNo"
									ng-model="clientRegister.referralMobileNo" class="form-control input-sm"
									placeholder="Mobile" required>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-xs-10 col-sm-10 col-md-10">
							<div class='msg-block' ng-show='registerForm.$error'
								style="color: red;">
								<span class='msg-error'
									ng-show="registerForm.userName.$error.maxlength">User
									Name Too long!</span> <span class="error"
									ng-show="registerForm.userName.$error.minlength">User
									Name Too Small!</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-10 col-sm-10 col-md-10">
							<input type="submit" value="Add User" ng-click="formJsonData()"
								class="btn btn-info btn-block">
						</div>
						<br /> <br /> <br />

					</div>


				</form>
			</div>
		</div>
	</div>
	<!--                              Loan onfo                                    ----------------- -->
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Loan Info</h3>
			</div>
			<div class="panel-body my-scroll-area" style ="height : 200px;" ng-nicescroll
				nice-option="{cursorcolor: 'blue'}">
				<form role="form" id="loanForm" name="laonForm">
					<div class="row">
						<div class="col-xs-10 col-sm-10 col-md-10">
							<div class="form-group">
								<input type="number" name="loanAmount" id="laonAmount"
									ng-model="clientLoan.loanAmount" class="form-control input-sm"
									placeholder="Loan Amount" ng-minlength='3' required>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-10 col-sm-10 col-md-10">
							<div class="form-group">
								<input type="text" name="rateOfIntrest" id="rateOfIntrest"
									ng-model="clientLoan.rateOfIntrest" class="form-control input-sm"
									placeholder="Rate of Intrest"  required>

							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-xs-5 col-sm-5 col-md-5">
							<div class="form-group">
								<input type="number" name="loanPeriod" id="loanPeriod"
									ng-model="clientLoan.loanPeriod"
									class="form-control input-sm" placeholder="Loan Period">
							</div>
						</div>
						<div class="col-xs-5 col-sm-5 col-md-5">
							<div class="form-group">
								<div class="dropdown">
									<select ng-model="clientLoan.periodType"
										ng-options="unit.id as unit.name for unit in periodIn"
										style="width: 145px; height: 30px"></select>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Ornament Info</h3>
			</div>
			<div class="panel-body my-scroll-area fill" style ="height : 335px;" ng-nicescroll
				nice-option="{cursorcolor: 'blue'}">
				<form role="form" id="ornamentForm" name="ornamentForm">
					<div class="row">
						<div class="col-xs-10 col-sm-10 col-md-10">
							<div class="form-group">
								<input type="text" name="ornamentName" id="ornamentName"
									ng-model="clientOrnament.ornamentName" class="form-control input-sm"
									placeholder="Ornament Name"  required>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-5 col-sm-5 col-md-5">
							<div class="form-group">
								<div class="dropdown">
									<select ng-model="clientOrnament.ornamentMetal"
										ng-options="unit.id as unit.name for unit in metalTypes"
										style="width: 145px; height: 30px"  required></select>
								</div>
							</div>
						</div>
						<div class="col-xs-5 col-sm-5 col-md-5">
							<div class="form-group">
								<div class="dropdown">
									<select ng-model="clientOrnament.ornamentType"
										ng-options="unit.id as unit.name for unit in ornamentTypes"
										style="width: 145px; height: 30px"  required></select>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						
							<div class="col-xs-5 col-sm-5 col-md-5">
								<div class="form-group">
									<input type="text" name="ornamentQuantity"
										id="ornamentQuantity" ng-model="clientOrnament.ornamentQuantity"
										class="form-control input-sm" placeholder="Ornament Quantity"  required>
								</div>
							</div>
							<div class="col-xs-5 col-sm-5 col-md-5">
								<div class="form-group">
									<input type="text" name="ornamentQuality" id="ornamentQuality"
										ng-model="clientOrnament.ornamentQuality"
										class="form-control input-sm" placeholder="Ornament Quality"  required>
								</div>
							</div>
						
					</div>

					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="ornamentValue" id="ornamentValue"
										ng-model="clientOrnament.ornamentValue"
										class="form-control input-sm" placeholder="Ornament Value"  required>
							</div>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4">
							<div class="form-group">
								<input type="button" value="Add Ornament" ng-click="addOrnament()" ng-disabled="ornamentForm.$invalid"
								class="btn btn-info btn-block" style = "border-bottom-width: 0px; font-size:10px">
							</div>
						</div>
					</div>
					<div class="row">
					  <div class="col-xs-12 col-sm-12 col-md-12">
						<div class="my-scroll-area" ng-nicescroll style = "min-height: 40%;height: 40%; width:100%"
							nice-option="{cursorcolor: 'red'}">
						<table class="table table-fixed">
							<tbody>
							<tr>
								<th>NAME</th>
								<th>QUANTITY</th>
								<th>QUALITY</th>
								<th>VALUE</th>
								<th>TYPE</th>
								<th>METAL</th>
							</tr>
							<tbody>
						<!-- </table> -->
						<!-- <div class="my-scroll-area" ng-nicescroll style = "min-height: 20%;height: 20%;"
							nice-option="{cursorcolor: 'red'}">
							<table class="table table-fixed">
						 -->		<tbody>
						 			<tr ng-repeat="ornament in ornamentList">
										<td ng-bind="ornament.ornamentName" style = "width:20%; word-wrap:break-word;"></th>
										<td ng-bind="ornament.ornamentQuantity"></td>
										<td ng-bind="ornament.ornamentQuality"></td>
										<td ng-bind="ornament.ornamentValue"></td>
										<td ng-bind="ornament.ornamentType"></td>
										<td ng-bind="ornament.ornamentMetal"></td>
									</tr>

								</tbody>
							</table>

						<!-- </div> -->
						</div>
						</div>
					</div>


				</form>
			</div>
		</div>

	</div>
</div>
<style>
body {
	background-color: #525252;
}

.centered-form {
	margin-top: 60px;
}

.centered-form .panel {
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.table-fixed tbody {
  height: 40%;
  overflow-y: auto;
  width: 100%;
}
</style>
